* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #F5F5F5;
}
.main-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #000;
    margin: 50px auto;
    padding: 20px;
    width: 340px;
}
#four-input{
    padding: 5px;
    margin: 5px;
    border: 1px solid #000000;
    width: 320px;
}

label{
    font-weight: bold;
    padding: 2px;
    margin: 2px;
}
p {
    font-weight: bold;
    padding: 2px;
    margin: 2px;
}
.terms-policy-container {
    margin: 2px;

}
.terms-policy-container a{
    color: blue;
    margin: 2px;
}

button {
    background-color: #a1a1f2;
    display: block;
    margin: 8px auto;
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 1px 1px 2px ; 
    
}
button:hover {
    background-color: #0000ff;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.2s ease;
}